.profile__info-edit-button {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url('../../../../images/Vector/edit_button.svg');
  padding: 0;
  margin-left: 17px;
}